---
layout: default.hbs
subject: Confirm your email address
---
<div class="main">
	<div class="content-wrapper">
		<table>
			<tr>
				<td>
					<h1>title of eamil</h1>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, non, veniam, omnis, ab ratione suscipit deserunt nemo eligendi itaque veritatis molestias esse ipsa facere quasi sequi. Labore ducimus delectus dolores.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, non, veniam, omnis, ab ratione suscipit deserunt nemo eligendi itaque veritatis molestias esse ipsa facere quasi sequi. Labore ducimus delectus dolores.</p>
					
					<table>
						<tr>
							<td class="padding">
								<hr />
								<p><a href="" class="btn-primary">button</a></p>
								<hr />
							</td>
						</tr>
					</table>

					<p>If you did not sign up for an account please <a href="http://github.com/leemunroe">click here</a>.</p>
				</td>
			</tr>
		</table>
	</div>
</div>