---
layout: default.hbs
subject: Defualt Transactional Email
---
<div class="main" style="text-align: center;">
  <div class="content-wrapper">
    <table>
      <tr>
        <td>
          
        </td>
      </tr>
    </table>
  </div>
</div>