---
layout: default.hbs
subject: Password Reset
---
<div class="main">
  <div class="content-wrapper">
    <table style="width: 100%;">
      <tr>
        <td>
          <h1>Password reset</h1>
          <h3>
            Click on the following link in order to reset your password:
          </h3>
  
          <hr />

          <p><a href="#" class="btn-primary">link</a></p>
        </td>
      </tr>
    </table>
  </div>
</div>