---
layout: default.hbs
subject: Simple Transactional Email
---
<div class="main">
	<div class="content-wrapper">
		<table>
			<tr>
				<td>
					<h1>Hi there,</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, alias, quae non ipsum consectetur possimus at culpa assumenda. Deserunt, voluptatem, dolor ratione facilis omnis praesentium fuga enim a dignissimos cumque?</p>
					
					<table>
						<tr>
							<td class="padding">
								<p><a href="#" class="btn-primary">Reset Your Password</a></p>
							</td>
						</tr>
					</table>
					
					<hr />

					<p><a href="http://twitter.com/teeturn">Follow @teeturn on Twitter</a></p>
				</td>
			</tr>
		</table>
	</div>
</div>