---
layout: default.hbs
subject: Welcome
---
<div class="main">
  <div class="content-wrapper">
    <table>
      <tr>
        <td>
          <h1>Thanks for signing up with teeturn!</h1>
          <p>
            In order to verify your email address, please click on the following link:
          </p>

          <hr />

          <p><a href="#" class="btn-primary">link</a></p>
        </td>
      </tr>
    </table>
  </div>
</div>